@page "/"

@using WebApp.Models.ResponseModels
@using WebApp.Services.CatalogService
@using WebApp.Components.Product

@inject ICatalogService _catalogService

<TelerikLoaderContainer Visible="@_visibleLoader"></TelerikLoaderContainer>

<TelerikGridLayout ColumnSpacing="2%">
    <GridLayoutColumns>
        <GridLayoutColumn Width="15%"></GridLayoutColumn>
        <GridLayoutColumn Width="85%"></GridLayoutColumn>
    </GridLayoutColumns>

    <GridLayoutItems>
        <GridLayoutItem>
            <TelerikPanelBar Data="@_categoryList"
                             ExpandMode="PanelBarExpandMode.Single"
                             OnItemClick="OnClickCategory">
                <PanelBarBindings>
                    <PanelBarBinding ParentIdField="@nameof(GetAllCategoriesResponse.ParentId)"
                                     TextField="@nameof(GetAllCategoriesResponse.Name)"
                                     ItemsField="@nameof(GetAllCategoriesResponse.Childs)"
                                     IconField="@nameof(GetAllCategoriesResponse.ThumbnailUrl)"
                                     HasChildrenField="@nameof(GetAllCategoriesResponse.HasChild)"
                                     IdField="@nameof(GetAllCategoriesResponse.Id)"></PanelBarBinding>
                </PanelBarBindings>
            </TelerikPanelBar>
        </GridLayoutItem>

        <GridLayoutItem>
            <TelerikGridLayout RowSpacing="40px" ColumnSpacing="1%">
                <GridLayoutColumns>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                </GridLayoutColumns>

                <GridLayoutItems>
                    <GridLayoutItem Row="1" Column="1" ColumnSpan="6">
                        <TelerikToolBar>
                            <ToolBarTemplateItem>
                                <div class="my-2">
                                    <span>Min Price</span>
                                    <TelerikNumericTextBox @bind-Value="@_minPrice"></TelerikNumericTextBox>

                                    <span class="ms-2">Max Price</span>
                                    <TelerikNumericTextBox @bind-Value="@_maxPrice"></TelerikNumericTextBox>
                                </div>
                            </ToolBarTemplateItem>

                            <ToolBarSpacer />

                            <ToolBarTemplateItem>
                                <div class="my-2">
                                    <span>Sort by</span>
                                    <TelerikDropDownList Data="@_sortOptions"
                                                         Width="200px"
                                                         Value="@SelectedSortOption"
                                                         ValueChanged="@((string v) => OnSortOptionChange(v))"
                                                         Rounded="@ThemeConstants.DropDownList.Rounded.Large">
                                    </TelerikDropDownList>
                                </div>
                            </ToolBarTemplateItem>
                        </TelerikToolBar>
                    </GridLayoutItem>

                    @foreach (var product in _productPaginationResponse.Data)
                    {
                        <GridLayoutItem>
                            <ProductCart ProductInfo="@product"></ProductCart>
                        </GridLayoutItem>
                    }
                </GridLayoutItems>
            </TelerikGridLayout>
            @if (_productPaginationResponse.Data.Any() && _productPaginationResponse?.Meta != null)
            {
                <TelerikPager Class="mt-3 me-5"
                              Total="@_productPaginationResponse.Meta.Total"
                              PageSize="@_productPaginationResponse.Meta.PerPage"
                              Page="@_productPaginationResponse.Meta.CurrentPage"
                              PageChanged=@(async (page) => await PageChangedHandler(page))></TelerikPager>
            }
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>