@page "/"

@using WebApp.Models.ResponseModels
@using WebApp.Services.CatalogService
@using WebApp.Components.Product

@inject ICatalogService _catalogService

<TelerikLoaderContainer Visible="@_visibleLoader"></TelerikLoaderContainer>

<TelerikGridLayout ColumnSpacing="2%">
    <GridLayoutColumns>
        <GridLayoutColumn Width="15%"></GridLayoutColumn>
        <GridLayoutColumn Width="85%"></GridLayoutColumn>
    </GridLayoutColumns>

    <GridLayoutItems>
        <GridLayoutItem>
            <TelerikPanelBar Data="@_categoryList"
                             ExpandMode="PanelBarExpandMode.Single"
                             OnItemClick="OnClickCategory"
                             Class="rounded-4 shadow">
                <PanelBarBindings>
                    <PanelBarBinding ParentIdField="@nameof(GetAllCategoriesResponse.ParentId)"
                                     TextField="@nameof(GetAllCategoriesResponse.Name)"
                                     ItemsField="@nameof(GetAllCategoriesResponse.Childs)"
                                     IconField="@nameof(GetAllCategoriesResponse.ThumbnailUrl)"
                                     HasChildrenField="@nameof(GetAllCategoriesResponse.HasChild)"
                                     IdField="@nameof(GetAllCategoriesResponse.Id)"></PanelBarBinding>
                </PanelBarBindings>
            </TelerikPanelBar>
        </GridLayoutItem>

        <GridLayoutItem>
            <TelerikGridLayout RowSpacing="40px" ColumnSpacing="1%">
                <GridLayoutColumns>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                    <GridLayoutColumn Width="15%"></GridLayoutColumn>
                </GridLayoutColumns>

                <GridLayoutItems>
                    <GridLayoutItem Row="1" Column="1" ColumnSpan="6">
                        <TelerikCarousel Data="@CarouselData"
                                         Width="100%"
                                         Height="300px"
                                         Class="rounded-4 shadow">
                            <Template>
                                <img src="https://salt.tikicdn.com/cache/w750/ts/tikimsp/ff/83/91/098d41a8f26e13afa1a4a07d06c883ac.jpg.webp" width="50%" height="300" />

                                <img src="https://salt.tikicdn.com/cache/w750/ts/tikimsp/ff/83/91/098d41a8f26e13afa1a4a07d06c883ac.jpg.webp" width="50%" height="300" />
                            </Template>
                        </TelerikCarousel>
                    </GridLayoutItem>

                    <GridLayoutItem Row="2" Column="1" ColumnSpan="6">
                        <div class="ms-3 d-flex justify-content-between">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <span>
                                        Range Price:
                                        <b>$@_minPrice</b>
                                    </span>
                                    <b>$@_maxPrice</b>
                                </div>
                                <TelerikRangeSlider @bind-StartValue="@_minPrice"
                                                    @bind-EndValue="@_maxPrice"
                                                    Min="0"
                                                    Max="3000"
                                                    SmallStep="1"
                                                    LargeStep="1"
                                                    TickPosition="SliderTickPosition.None"
                                                    Decimals="3"
                                                    Width="300px">
                                </TelerikRangeSlider>
                            </div>

                            <div>
                                <span>Sort by: </span>
                                <TelerikDropDownList Data="@_sortOptions"
                                                     Width="200px"
                                                     Value="@SelectedSortOption"
                                                     ValueChanged="@((string v) => OnSortOptionChange(v))"
                                                     Rounded="@ThemeConstants.DropDownList.Rounded.Large">
                                </TelerikDropDownList>
                            </div>
                        </div>
                    </GridLayoutItem>

                    @foreach (var product in _productPaginationResponse.Data)
                    {
                        <GridLayoutItem>
                            <ProductCart ProductInfo="@product"></ProductCart>
                        </GridLayoutItem>
                    }
                </GridLayoutItems>
            </TelerikGridLayout>
            @if (_productPaginationResponse.Data.Any() && _productPaginationResponse?.Meta != null)
            {
                <TelerikPager Class="mt-3 me-5"
                              Total="@_productPaginationResponse.Meta.Total"
                              PageSize="@_productPaginationResponse.Meta.PerPage"
                              Page="@_productPaginationResponse.Meta.CurrentPage"
                              PageChanged=@(async (page) => await PageChangedHandler(page))></TelerikPager>
            }
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>

@code {
    public List<CarouselModel> CarouselData = Enumerable.Range(1, 7).Select(x => new CarouselModel
        {
            ImageID = x
        }).ToList();

    public class CarouselModel
    {
        public int ImageID { get; set; }
    }
}