@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

@inject NavigationManager _nav

<TelerikRootComponent>
    <TelerikNotification @ref="_notificationRef"
                         HorizontalPosition="@NotificationHorizontalPosition.Center"
                         VerticalPosition="@NotificationVerticalPosition.Top"
                         AnimationType="@AnimationType.PushDown"
                         AnimationDuration="5">
    </TelerikNotification>

    <TelerikAppBar>
        <AppBarSection>
            <img src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/logo-full.svg" alt="">
        </AppBarSection>

        <AppBarSpacer></AppBarSpacer>

        <AppBarSection>
            <TelerikTextBox @bind-Value="@_search"
                            Class="ps-2"
                            Placeholder="Search"
                            Width="500px"
                            DebounceDelay="500"
                            Rounded="@ThemeConstants.TextBox.Rounded.Full">
                <TextBoxSuffixTemplate>
                    <TelerikButton Icon="@SvgIcon.Search"
                                   Size="@ThemeConstants.Button.Size.Large"
                                   OnClick=@(() => _nav.NavigateTo("/"))></TelerikButton>
                </TextBoxSuffixTemplate>
            </TelerikTextBox>
        </AppBarSection>

        <AppBarSpacer></AppBarSpacer>

        <AuthorizeView>
            <Authorized>
                <AppBarSection>
                    <TelerikDropDownButton Icon="@SvgIcon.User"
                                           Class="px-4">
                        <DropDownButtonContent>User</DropDownButtonContent>
                        <DropDownButtonItems>
                            <DropDownButtonItem Icon="@SvgIcon.User"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Profile</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.ListOrdered"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Order</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.Supscript"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Supports</DropDownButtonItem>
                            <DropDownButtonItem Icon="@SvgIcon.Home"
                                                OnClick=@(()=> _nav.NavigateTo("/"))>Logout</DropDownButtonItem>
                        </DropDownButtonItems>
                    </TelerikDropDownButton>
                </AppBarSection>

                <AppBarSeparator Class="thick-separator"></AppBarSeparator>

                <AppBarSection>
                    <TelerikButton Icon="@SvgIcon.Cart" Class="px-4" OnClick=@(() => _nav.NavigateTo("/cart"))>Cart</TelerikButton>
                </AppBarSection>
            </Authorized>

            <NotAuthorized>
                <AppBarSection>
                    <TelerikButton Icon="@SvgIcon.Login" Class="px-4" OnClick=@(() => _nav.NavigateTo("/login"))>Login</TelerikButton>
                </AppBarSection>

                <AppBarSeparator Class="thick-separator"></AppBarSeparator>

                <AppBarSection>
                    <TelerikButton Icon="@SvgIcon.Cart" Class="px-4" OnClick=@(() => _nav.NavigateTo("/cart"))>Cart</TelerikButton>
                </AppBarSection>
            </NotAuthorized>
        </AuthorizeView>
    </TelerikAppBar>
    <main class="m-5" style="background-color:f5f5fa;">
        <CascadingValue Name="Notification" Value="@_notificationRef">
            <CascadingValue Name="SearchText" Value="@_search">
                @Body
            </CascadingValue>
        </CascadingValue>
    </main>
</TelerikRootComponent>

@code
{
    private string? _search;
    private TelerikNotification _notificationRef;
}