@page "/products/{ProductId:int}"

@using WebApp.Components.Common
@using WebApp.Services.CatalogService

@inject ICatalogService CatalogService

<div class="w-75 mx-auto">
    <TelerikBreadcrumb Data="@_breadcrumbItems"
                       Class="mb-4">
    </TelerikBreadcrumb>

    <TelerikGridLayout ColumnSpacing="5%" RowSpacing="20px">
        <GridLayoutColumns>
            <GridLayoutColumn Width="25%"></GridLayoutColumn>
            <GridLayoutColumn Width="70%"></GridLayoutColumn>
        </GridLayoutColumns>

        <GridLayoutItems>
            <GridLayoutItem>
                <TelerikCard Class="rounded-4">
                    <CardImage Src="@_productInfo.ThumbnailUrl"></CardImage>
                </TelerikCard>
            </GridLayoutItem>

            <GridLayoutItem>
                <TelerikCard Class="p-3 mb-5 bg-body-tertiary rounded-4 shadow">
                    <CardBody>
                        <CardTitle>@_productInfo.Name</CardTitle>
                        <Rating Max="5" Star=@((int)_productInfo.RatingAverage)></Rating>
                        <CardSubTitle>Total buyer: @_productInfo.TotalBuyer</CardSubTitle>
                        <CardTitle Class="text-warning">Price: @_productInfo.Price $</CardTitle>
                        <p>@_productInfo.ShortDescription</p>

                        <CardSeparator></CardSeparator>
                        @{
                            var configOption1 = _productInfo.ConfigOptions.ElementAtOrDefault(0);
                            if (configOption1 != null)
                            {
                                <div class="my-3">
                                    <b>@configOption1.OptionType</b>
                                </div>
                                <div class="row gy-5 mb-5">
                                    @foreach (var value in configOption1.Values)
                                    {
                                        <div class="col-4">
                                            <TelerikButton Class="px-4">@value</TelerikButton>
                                        </div>
                                    }
                                </div>
                            }

                            var configOption2 = _productInfo.ConfigOptions.ElementAtOrDefault(1);
                            if (configOption2 != null)
                            {
                                <div class="mb-3">
                                    <b>@configOption2.OptionType</b>
                                </div>
                                <div class="row gy-5 mb-5">
                                    @foreach (var value in configOption2.Values)
                                    {
                                        <div class="col-4">
                                            <TelerikButton Class="px-4">@value</TelerikButton>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </CardBody>

                    <CardSeparator></CardSeparator>

                    <CardActions Layout="CardActionsLayout.Stretch">
                        <TelerikButton Icon="@SvgIcon.Cart">Add to basket</TelerikButton>
                    </CardActions>
                </TelerikCard>
            </GridLayoutItem>

            <GridLayoutItem Column="1" Row="2" ColumnSpan="2">
                @for (var i = 0; i < 20; i++)
                {
                    <p>
                        Tần số quét và độ sáng tối đa được đặt trên C65 lần lượt là 90 Hz và 600 nits. Những thông số vừa đủ để mang đến trải nghiệm lướt và chuyển động mượt mà nhất cho người dùng trên con máy này. Bên cạnh khả năng bảo vệ đến từ mặt kính cường lực Corning Gorilla Glass dán phía trên. Nhờ đó mà chiếc điện thoại không chỉ được an toàn mà còn được gìn giữ luôn mới trong suốt thời gian sử dụng
                    </p>
                }
            </GridLayoutItem>
        </GridLayoutItems>
    </TelerikGridLayout>
</div>