@page "/products/{ProductId:int}"

@using WebApp.Services.CatalogService
@using WebApp.Components.Common

@inject ICatalogService CatalogService



@code
{
    public List<BreadcrumbItem> Items { get; set; }

    protected override void OnInitialized()
    {
        Items = new List<BreadcrumbItem>
        {
            new () { Text = "Home", Icon = SvgIcon.Home },
            new ()  { Text = "Products"},
            new ()  { Text = "Computer peripherals"},
            new ()  { Text = "Keyboards"},
            new ()  { Text = "Gaming keyboards"}
        };
    }

    public class BreadcrumbItem
    {
        public string Text { get; set; }
        public ISvgIcon Icon { get; set; }
        public string Url { get; set; }
    }
}
<div class="w-75 mx-auto">
    <TelerikBreadcrumb Data="@Items" Class="mb-4">
    </TelerikBreadcrumb>

    <TelerikGridLayout ColumnSpacing="5%" RowSpacing="20px">
        <GridLayoutColumns>
            <GridLayoutColumn Width="25%"></GridLayoutColumn>
            <GridLayoutColumn Width="70%"></GridLayoutColumn>
        </GridLayoutColumns>

        <GridLayoutItems>
            <GridLayoutItem>
                <TelerikCard Class="rounded-4">
                    <CardImage Src="@_productInfo.ThumbnailUrl"></CardImage>
                </TelerikCard>
            </GridLayoutItem>

            <GridLayoutItem>
                <TelerikCard Class="hadow p-3 mb-5 bg-body-tertiary rounded-4">
                    <CardBody>
                        <CardTitle>@_productInfo.Name</CardTitle>
                        <Rating Max="5" Star=@((int)_productInfo.RatingAverage)></Rating>
                        <CardSubTitle>Total buyer: @_productInfo.TotalBuyer</CardSubTitle>
                        <CardTitle Class="text-warning">Price: @_productInfo.Price $</CardTitle>
                        <p>@_productInfo.ShortDescription</p>

                        <CardSeparator></CardSeparator>

                        <b>Size</b>
                        <div class="row">
                            @for (var i = 0; i < 6; i++)
                            {
                                <div class="col">

                                    @{
                                        var i1 = i;
                                    }
                                    <TelerikButton Class="p-4">X @i1</TelerikButton>
                                </div>
                            }
                        </div>

                        <b>Color</b>
                        <div class="row">
                            @for (var i = 0; i < 6; i++)
                            {
                                <div class="col">

                                    @{
                                        var i1 = i;
                                    }
                                    <TelerikButton Class="p-4">X @i1</TelerikButton>
                                </div>
                            }
                        </div>
                    </CardBody>

                    <CardSeparator></CardSeparator>

                    <CardActions Layout="CardActionsLayout.Stretch">
                        <TelerikButton Icon="@SvgIcon.Cart">Add to basket</TelerikButton>
                    </CardActions>
                </TelerikCard>
            </GridLayoutItem>

            <GridLayoutItem Column="1" Row="2" ColumnSpan="2">
                @for (var i = 0; i < 20; i++)
                {
                    <p>
                        Tần số quét và độ sáng tối đa được đặt trên C65 lần lượt là 90 Hz và 600 nits. Những thông số vừa đủ để mang đến trải nghiệm lướt và chuyển động mượt mà nhất cho người dùng trên con máy này. Bên cạnh khả năng bảo vệ đến từ mặt kính cường lực Corning Gorilla Glass dán phía trên. Nhờ đó mà chiếc điện thoại không chỉ được an toàn mà còn được gìn giữ luôn mới trong suốt thời gian sử dụng
                    </p>
                }
            </GridLayoutItem>
        </GridLayoutItems>
    </TelerikGridLayout>
</div>